## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">Acerca de EDUTEC</a>
    <a href="#contact" class="contact">Contacto</a>
    <a href="#help" class="help">Ayuda</a>
  </nav>

  <section class="vision">

    ## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('themes/default/images/about.jpg')}" alt="" />
      </div>
      <article>

        <h2>¿Qué es la UTEC?</h2>

        <p>En base a una serie de estudios realizados por UTEC, se detectó la oportunidad de incorporar cursos en línea masivos y abiertos (MOOC, por sus siglas en inglés), una tendencia a nivel internacional que se ajusta a los objetivos educativos de la institución.</p>

        <p>Para ello, recurrió a OpenedX, una plataforma de código abierto fundada en mayo de 2012, por el Instituto Tecnológico de Massachusetts, la Universidad de Harvard y un consorcio de algunas de las más prestigiosas universidades del mundo (link), que permite hospedar este tipo de cursos online.</p>

        <p>Para alcanzar los objetivos planteados, UTEC adaptó esta plataforma contemplando sus necesidades y requerimientos educativos y culturales, creando Edutec.</p>

        <p>Edutec es una plataforma educativa desarrollada, en primera instancia, para la implementación del Programa de Formación en Ciencias Básicas, un Plan Piloto que fomenta la nivelación de los estudiantes de UTEC.</p>

        <p>La plataforma incluye un sistema de estadísticas –a nivel educativo y técnico- que permite al estudiante analizar el progreso de cada curso, al docente realizar un seguimiento detallado del proceso de aprendizaje, y a la universidad determinar las mejoras necesarias a implementar.</p>

        <p>En esta primera etapa UTEC definió que los cursos en línea sean pequeños y privados (SPOC, por sus siglas en inglés). Luego de analizar los resultados, la universidad evaluará la posibilidad de dejarlos abiertos a la comunidad. </p>

        <p>Está previsto incorporar en el futuro nuevos programas educativos al servicio de nuestros estudiantes.</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    ## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('themes/default/images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>Envianos un mensaje</h2>

        <p>entorno.virtual@utec.edu.uy</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    ## Careers Section ##
    <section class="message left" id="help">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('themes/default/images/careers.jpg')}" alt="" />
      </div>
      <article>
        <h2>Ayuda</h2>

        <h3>¿Cómo ingreso a la plataforma?</h3>
        <p>Para ingresar debes hacer click en Iniciar Sesión, luego seleccionar la opción Iniciar Sesión utilizando tu cuenta de UTEC, y posteriormente ingresar tu nombre de usuario (usuario.apellido) y tu contraseña.
        Este acceso es exclusivo para estudiantes de UTEC.</p>

        <br>

        <h3>¿Qué navegador permite el uso de cursos de edX?</h3>
        <p>Todos los navegadores de Internet Explorer, Mozilla Firefox y Chrome</p>

        <br>

        <h3>¿Puedo acceder a cursos edX en mi smartphone o Tablet?</h3>
        <p>Aún no hemos desarrollado aplicaciones nativas para smartphones y tablets, pero se puede realizar el curso desde cualquier dispositivo móvil con acceso a internet.</p>

        <br>

        <h3>¿Con quién debo comunicarme si tengo consultas sobre el funcionamiento técnicos?</h3>
        <p>Puedes comunicarte con nosotros escribiendo a la casilla entorno.virtual@utec.edu.uy</p>

        <br>

        <h3>Perdí mi contraseña, ¿cómo puedo recuperarla?</h3>
        <p>El acceso a esta plataforma es siempre a través de la cuenta de UTEC: nombre de usuario (usuario.apellido) y contraseña.
        El usuario y contraseña son los mismos que utilizas para acceder al Portal Académico y a Moodle.
        Si no recuerdas tu contraseña debes ingresar a https://gestion.utec.edu.uy/cuentas/passwordforgot.aspx.
        Por consultas sobre pérdida de contraseña dirigirse a http://edutec.utec.edu.uy/about#contacto</p>

        <br>

        <h3>¿Cuándo inician y finalizan los cursos?</h3>
        <p>Los cursos del Programa de Formación en Ciencias Básicas se pueden iniciar en cualquier momento, pero las fechas de fin dependen de cada curso.
        La duración de cada curso está detallada en su introducción.
        Recuerda que para acceder a esta información debes realizar una prueba de sondeo antes.</p>

        <br>

        <h3>¿Los cursos tienen actividad presencial?</h3>
        <p>Está planificado realizar actividades presenciales/virtuales en tiempo real para evacuar dudas y realizar otros tipos de actividades.</p>

        <br>

        <h3>¿Cómo me inscribo a un curso?</h3>
        <p>Debes ir a tu centro de control y busca el curso al que deseas inscribirte.
        Luego debes hacer click en Ver y posteriormente en Registrarse.</p>

        <br>

        <h3>¿Puedo inscribirme a más de un curso?</h3>
        <p>Sí, es posible. De todas formas, recomendamos analizar con anterioridad los tiempos que dura cada curso y las fechas de las actividades presenciales.</p>

      </article>
      <hr class="fade-right-hr-divider">
    </section>

  </section>

</section>
