## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">Acerca de EDU</a>
    <a href="#contact" class="contact">Contacto</a>
    <a href="#help" class="help">Ayuda</a>
  </nav>

  <section class="vision">

    ## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('themes/utec-theme/images/about.jpg')}" alt="" />
      </div>
      <article>

        <h2>¿Qué es EDU?</h2>

        <h3>Bienvenidos al entorno EDU (Educación Digital Universitaria) de la Universidad Tecnológica.</h3>
        <br>
        <p>EDU es el entorno educativo en el que se encuentran disponible cursos abiertos en línea desarrollados por la Universidad Tecnológica.</p>
        <p>Los estudiantes podrán acceder  a los cursos desde cualquier lugar y en cualquier momento, solo necesitan un  dispositivo (PC, notebook, celular, Tablet) y conexión a internet.</p>
        <p>Para acompañar y fomentar el  proceso de aprendizaje los cursos cuentan con  recursos y objetos de aprendizajes que involucran diversas actividades:</p>

        <ul class="list-bulleted">
            <li><p><strong>Videolecciones:</strong> docentes de UTEC se convierten en actores, graban cursos y utilizan un pizarrón digital con animaciones como apoyo didáctico.</p></li>
            <li><p><strong>Fichas educativas:</strong> documentos en formato PDF que ofrece material educativo complementario al audiovisual.</p></li>
            <li><p><strong>Simuladores educativos:</strong> el estudiante deberá realizar distintas actividades educativas y compartir su experiencia con sus compañeros en los foros de discusión.</p></li>
            <li><p><strong>Ejercicios:</strong> auto gestionados por el estudiante, con corrección automática (múltiple opción, ingresar la opción correcta, arrastrar y ordenar).</p></li>
            <li><p><strong>Consultas a docentes:</strong> a través de clases presenciales y/o conferencias web podrás realizar consultas a los docentes de UTEC.</p></li>
        </ul>
        <br>
        <h3>Sobre la solución técnica:</h3>
        <hr>
        <p>En base a una serie de estudios realizados a fines del 2013,  recomendaciones de expertos en educación virtual de distintas partes del globo y tendencias de mercado en educación terciaria  universitaria, UTEC decidió utilizar la solución técnica  OpenedX.</p>
        <p>Esta es una plataforma de código abierto fundada en mayo de 2013, por el Instituto Tecnológico de Massachusetts y la Universidad de Harvard  hoy día integran este proyecto un consorcio <a target="_blank" href="https://www.edx.org/schools-partners">universidades del mundo</a>.</p>
        <p>El equipo encargado de desarrollar soluciones digitales de la Universidad Tecnológica instaló y adaptó la solución a las necesidades y demandas educativas de la institución. Además monitorea el funcionamiento del entorno virtual con el cometido de realizar mejoras constantes.</p>
        <p>Algunas de las funcionalidades que presta a estudiantes y docentes son:</p>
        <ul>
            <li><p>Analizar y realizar el seguimiento del proceso académico: el estudiante podrá visualizar mediante gráfica y tablas el avance del curso que está realizando y las tareas que restan para finalizar el mismo.</p></li>
            <li><p>Ejercicios auto gestionado por el estudiante, con corrección automática: múltiple opción, ingresar la opción correcta, arrastrar y ordenar, simuladores educativos, mini juegos,  son algunos de los ejercicios a los que se enfrentará el estudiante.</p></li>
            <li><p>Información analítica para docentes: los docentes y/o tutores del curso tendrán la posibilidad de realizar un seguimiento detallado de cada estudiante, descargar libro de calificaciones,  obtener información socio-demográfica, invitar a estudiantes a que se inscriban al curso, enviar correo electrónico a uno  o todos los estudiantes inscriptos en el curso.</p></li>
        </ul>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    ## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('themes/utec-theme/images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>¿Necesitas ayuda o tienes sugerencias?</h2>

        <p>En UTEC creemos firmemente que el trabajo en equipo hará posible crear una universidad de calidad. Los estudiantes son una parte fundamental, o la parte fundamental del equipo, con gusto recibiremos tus sugerencias y consultas técnicas.</p>
        <br>
        <p>Selecciona la casilla y escríbenos:</p>
        <br>
        <strong>Inconvenientes técnicos</strong>
        <p>Por consultas sobre el funcionamiento del EDU, escríbenos a <a href="mailto:someone@entorno.virtual@utec.edu.uy">entorno.virtual@utec.edu.uy</a>.</p>
        <br>
        <strong>Sugerencias</strong>
        <p>Si deseas realizar una sugerencia escríbenos a <a href="mailto:edutec.sugerencias@utec.edu.uy">edutec.sugerencias@utec.edu.uy</a>.</p>
        <br>
        <strong>Ciencias Básicas</strong>
        <p>Por consultas sobre el Programa en Ciencias Básicas, escríbenos a <a href="mailto:ciencias.basicas@utec.edu.uy">ciencias.basicas@utec.edu.uy</a>.</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    ## Careers Section ##
    <section class="message left" id="help">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('themes/utec-theme/images/help.jpg')}" alt="" />
      </div>
      <article>
        <h2>Ayuda</h2>

        <p>En los siguientes vídeos podrás conocer en detalle el funcionamiento de EDU, estructura de cursos, objetos y recursos de aprendizaje están a disposición:</p>
        <p>Primeros pasos: <a href="https://youtu.be/eWys6oa47iM">https://youtu.be/eWys6oa47iM</a></p>
        <p>Sobre los cursos: <a href="https://youtu.be/hjmQIaVb2Gk">https://youtu.be/hjmQIaVb2Gk</a></p>

        <h2>Preguntas Frecuentes</h2>

        <h3>¿Cuáles son los requerimientos técnicos para acceder a un curso?</h3>
        <p>Para acceder a los cursos de EDU debes contar con un dispositivo (pc, notebook, celular inteligente, tablet) y conexión a internet.</p>
        <br>

        <h3>¿Cómo ingreso a la plataforma?</h3>
        <p>Los estudiantes de UTEC deberán hacer click en <a href="https://edu.utec.edu.uy/login">Iniciar Sesión</a>, luego seleccionar la opción Iniciar Sesión utilizando tu cuenta de UTEC, y posteriormente ingresar tu nombre de usuario (usuario.apellido) y tu contraseña.  En tu PC y notebook debes activar y mantener  actualizado Javas, en este <a target="_blank" href="https://www.java.com/es/download/help/update_runtime_settings.xml">link</a> podrás aprender como realiza esta acción</p>
        <br>

        <h3>¿Olvidaste tu contraseña?</h3>
        <p>Para recuperar tu contraseña ingresa <a href="https://gestion.utec.edu.uy/cuentas/passwordforgot.aspx">aquí</a>. Recuerda que deberás cambiar la contraseña para acceder a los distintos entornos virtuales del ecosistema de UTEC (Portal Académico y Entorno Virtual Educativo).</p>
        <br>

        <h3>¿Qué navegador permite el uso de cursos de EDU?</h3>
        <p>Los navegadores Mozilla FireFox v.35, Google  Chrome, Internet Explorer 8 o superior son compatibles con el entorno educativo, además puedes acceder desde dispositivos con sistema operativo Windows, Android y Mac OS X e iOS.</p>
        <br>

        <h3>¿No has recibido el correo de activación de tu cuenta?</h3>
        <p>Recuerda que el correo de verificación se enviará a la cuenta institucional de UTEC, en caso que no aparezca en la bandeja de entrada, ingresa a la carpeta SPAM, si no ha llegado a esta carpeta <a href="https://edu.utec.edu.uy/about#contact">comunícate con nosotros</a>.</p>
        <br>

        <h3>¿Cuánto tiempo dura un curso?</h3>
        <p>Depende de cada curso, podrás encontrar esta información en la sección Buscar Cursos y seleccionar la opción Aprender Más, cuando pasas el mouse por la imagen de cada curso.</p>
        <br>

        <h3>¿Con quién debo comunicarme si tengo consultas sobre el funcionamiento técnicos?</h3>
        <p>En la sección <a href="https://edu.utec.edu.uy/about#contact">contacto</a> encontrarás la información para comunicarte con las distintas áreas de EDU.</p>
        <br>

        <h3>Perdí mi contraseña, ¿cómo puedo recuperarla?</h3>
        <p>El acceso a esta plataforma es siempre a través de la cuenta de UTEC: nombre de usuario (usuario.apellido) y contraseña. El usuario y contraseña son los mismos que utilizas para acceder al Portal Académico y a Moodle. Si no recuerdas tu contraseña debes ingresar aqui. Por consultas sobre pérdida de contraseña dirigirse a nuestra página de <a href="https://edu.utec.edu.uy/about#contact">contacto</a>.</p>
        <br>

        <h3>¿Cuándo inician y finalizan los cursos?</h3>
        <p>Los cursos del Programa de Formación en Ciencias Básicas se pueden iniciar en cualquier momento, pero las fechas de fin dependen de cada curso. La duración de cada curso está detallada en su introducción. Recuerda que para acceder a esta información debes realizar una prueba de sondeo antes.</p>
        <br>

        <h3>¿Los cursos tienen actividad presencial?</h3>
        <p>Está planificado realizar actividades presenciales/virtuales en tiempo real para evacuar dudas y realizar otros tipos de actividades.</p>
        <br>

        <h3>¿Cómo me inscribo a un curso?</h3>
        <p>Debes ir a tu centro de control y busca el curso al que deseas inscribirte. Luego hacer click en Aprender Más y seleccionar el botón Registrarse para.</p>
        <br>

        <h3>¿Puedo inscribirme a más de un curso?</h3>
        <p>Sí, es posible. De todas formas, es recomendables que analices los tiempos que dura cada curso y las fechas de las actividades presenciales.</p>
        <br>

      </article>
      <hr class="fade-right-hr-divider">
    </section>

  </section>

</section>
