## mako
<%namespace name='static' file='static_content.html'/>
<%!
  from django.core.urlresolvers import reverse
%>

<footer class="footer">
  <div class="wrapper-footer">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Términos y condiciones</a></li>
          <li><a href="${reverse('courses')}">Cursos</a></li>
          <li><a href="${reverse('about')}#contact">Contacto</a></li>
          <li><a href="${reverse('about')}#help">Ayuda</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="https://open.edx.org">OpenEdX</a>.</span>
    </div>
  </div>
</footer>
