## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<footer class="footer">
  <div class="wrapper-footer">
    <div class="footer-content">
      <div class="footer-column">
        <div class="footer-title">Institucional</div>
        <ul>
          <li><a href="https://utec.edu.uy/" target="_blank" class="link footer">Acerca de UTEC</a></li>
          <li><a href="https://taa.utec.edu.uy/" target="_blank" class="link footer">TAA</a></li>
          <li><a href="https://edu.utec.edu.uy/#form-row" class="link footer">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-title">Formación</div>
        <ul>
          <li><a href="https://utec.edu.uy/formacion/" target="_blank" class="link footer">Carreras</a></li>
          <li><a href="https://utec.edu.uy/formacion/#programas-especiales" target="_blank" class="link footer">Programas Especiales</a></li>
          <li><a href="https://edu.utec.edu.uy/" class="link footer">EDU</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-title">Estudiantes</div>
        <ul>
          <li><a href="https://portal.utec.edu.uy/portal/page/portal/uxxiportal/inicio" target="_blank" class="link footer">Portal Académico</a></li>
          <li><a href="https://ev1.utec.edu.uy/moodle/login/index.php" target="_blank" class="link footer">Entorno Virtual de Aprendizaje</a></li>
          <li><a href="https://utec.edu.uy/estudiantes/" target="_blank" class="link footer">Novedades</a></li>
          <li><a href="https://utec.edu.uy/estudiantes/#descargas-row" target="_blank" class="link footer">Descargas</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <img src="${static.url('images/utec-logo-footer.png')}" width="160">
        <div class="footer-info">(+598) 2603 8832</div>
        <div class="footer-info">consultas@utec.edu.uy</div>
        <img src="${static.url('images/taa-logo.png')}" width="160">
      </div>
    </div>
    <div class="copyright">
      <p>© 2021 - Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

