<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<h1>Bienvenido a EDU</h1>
## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<h2>Bienvenidos al entorno de Educación Digital Universitaria de UTEC.<br>
Accede a tus cursos desde cualquier lugar, en cualquier momento.</h2>
