
//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
  clip: auto !important;
  height: 50px;
  width: 550px;
  top: 0;
}

@mixin footer_references_style {
  margin: 0 !important;
  text-align: right;
}

//-----------------
// Override CSS
//-----------------
html {
  background-color: #ffffff !important;
}

//-----------------
// Header Styling
//-----------------
header.header-global {
  height: 76px;
  background: $header-bg;
  border-bottom: 0px !important;

  .wrapper-header {
    height: 40px;
    padding: 18px 10px 0;

    h1.logo {
      @include margin(-2px, 39px, 0, 0);

      img {
        height: 50px !important;
        margin: 0 !important;
      }
    }

    .primary > a {
      background-color: $button-bg-color;
    }

    .nav-global {
      margin-bottom: 0;
    }

    .nav-global li a {
      padding: 5px;
      color: $black-80;
      font-size: 14px;

      border: none;
      background: none
    }

    h2.course-header {
      color: $main-color !important;
    }

    .user {
      .primary a {
        box-shadow: none;
      }

      .user-link {
        border-radius: 4px 0 0 4px;

        .user-link .user-image-frame {
          max-width: 40px;
          border-radius: 10%;
        }
      }

      .label-username {
        margin: 0 !important;
        padding: 12px 16px;
        line-height: 16px;
      }

      .dropdown {
        padding: 6px 8px 10px 10px;
        line-height: 24px;
        border-radius: 0 4px 4px 0;
      }
    }

    .wrapper-user-menu {
      background-color: #e9e9e9;
      border-radius: 4px;
    }

    .dropdown-menu-container {
      .menu-image {
        border-radius: 10%;
      }

      .menu-title {
        margin: 0 !important;
        padding: 12px 16px 12px 0;
        line-height: 16px;
      }

      .menu-button {
        height: 40px;
        margin: 0;
        padding: 13px 8px;
        line-height: 34px;
        border-radius: 0 4px 4px 0;

        &.default-icon:after {
          top: 18px;
        }
      }
    }
  }
}

header.header-global.slim {
  background: $header-bg;
  padding-top: 0;

  .wrapper-header {
    h1.logo {
      margin-top: 0;

      img {
        height:30px !important;
        margin: 0 !important;
      }
    }
  }
  h2 {
    margin-top: 10px;
    text-shadow: none;
  }
}

.home > header {
  height: 460px;
  margin-top: $header_image_margin;
  overflow: hidden;

  .outer-wrapper {
    padding: 120px 0 !important;
  }

  .title h2 {
    margin-bottom: 0;
    text-transform: lowercase;
    font-style: italic;
  }
}

body.view-in-course .container .home {
  max-width: 1180px;
}

//-----------------
// Footer Styling
//-----------------
footer.footer {
  background: $footer-bg;
  border-top: 3px solid #009de1 !important;
  box-shadow: none !important;

  .wrapper-footer {
    max-width: 1180px;
    margin: 0 auto;
    border: 0 !important;
    box-shadow: none !important;
  }

  .colophon {
    width: 80%;
    float: left;

    .nav-colophon li {
      display: inline-block;
      height: 35px;
      float: left;
      margin: 0 20px 20px 0;
    }

    .nav-colophon li a {
      color: #000000;
    }
  }

  .references {
    width: 15%;
    float: right;
  }

  .copyright {
    clear: both;
  }
}

//-----------------
// Course about Styling
//-----------------
.course-info header.course-profile {
  height: initial;
}
