{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% blocktrans %}You have been unenrolled from {{ course_name }}{% endblocktrans %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                Hola,
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                Has sido desinscripto del curso “{{ course_name }}” por un moderador. Este curso ya no aparecerá en tu panel principal.
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                Si crees que se trata de un error o tienes alguna duda recuerda que puedes comunicarte a través de <a href="mailto:consultas.edu@utec.edu.uy">consultas.edu@utec.edu.uy</a>.
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                ¡Saludos!.
                <br />
                Equipo UTEC.
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                Este mensaje fue enviado automáticamente por <a href="https://edu2.utec.edu.uy">EDU</a> porque alguien trató de crear una cuenta en EDU usando esta dirección de correo electrónico.
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}

