@import 'variables-theme';

//-----------------
// Override CSS
//-----------------
html {
  background-color: $white !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

//-----------------
// Home Styling
//-----------------

.content-wrapper.main-container {
  margin-top: 0;
  padding: 0;
}

.home {
  .banner-home {
    background-repeat: no-repeat;
    background-size: cover;
	}
}

//-----------------
// Header Styling
//-----------------
header.global-header  {
  background: $header-bg;
  border-bottom: 0;
  min-height: 76px;

  .main-header {
    img.logo {
      height: 50px;
    }

    .header-logo .course-header {
      color: $white;
    }

    .nav-links {
      .secondary {
        display: flex;

        a.sign-in-btn {
          background: $header-bg;
          border: 0;
          font-weight: bold;

          &:hover {
            background: $black;
            color: $white;
          }
        }

        a.register-btn {
          background: none;
          border: 0;
          color: $black-80;
          font-weight: bold;
        }

        .home-buttons.nav-item {
          padding-top: 10px;
        }

        .nav-item a.help-link {
          color: $black;
          font-weight: bold;
        }

        .menu-title {
          align-items: center;
          display: flex;
        }

        .user-image-frame {
          border-radius: 0;
          box-sizing: content-box;
          margin: 0;
        }

        .username {
          background: #e9e9e9;
          font-weight: bold;
          padding: 9px 20px;
        }

        .nav-item {
          margin: 0;
          padding-top: 5px;
        }

        .toggle-user-dropdown {
          background: $white;
          padding: 9px;
        }

        .container-help {
          margin: 10px;
        }
      }

      .main {

        .nav-tab a {
          border: 0;
          color: $black-80;
          font-weight: bold;
        }

        .nav-item {
          margin: 0;
          padding-top: 5px;
        }

        .nav-item a {
          background: none;
          border: 0;
          color: $black-80;
          font-weight: bold;
          padding: 5px 20px;
        }
      }
    }

    .hamburger-menu {
      top: 25px;

      .line {
        background: $white;
      }
    }
  }

  .mobile-menu {
    margin-top: 40px;
  }
}

.home > header {
  height: 460px;
  // margin-top: $header_image_margin;
  overflow: hidden;

  .outer-wrapper {
    padding: 120px 0 !important;
  }

  .title h2 {
    font-style: italic;
    margin-bottom: 0;
    text-transform: lowercase;
  }
}

body.view-in-course .container .home {
  max-width: 1180px;
}

//-----------------
// Footer Styling
//-----------------
footer.footer {
  // background: $footer-bg;
  border-top: 3px solid #009de1 !important;
  box-shadow: none !important;

  .wrapper-footer {
    border: 0 !important;
    box-shadow: none !important;
    margin: 20px;
  }

  .colophon {
    float: left;
    width: 80%;

    .nav-colophon li {
      float: left;
      height: 35px;
      margin: 0 20px 20px 0;
    }

    .nav-colophon ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .nav-colophon li a {
      color: $black;
    }
  }

  .references {
    float: right;
  }

  .copyright {
    clear: both;
  }
}

//-----------------
// Course about Styling
//-----------------
.course-info header.course-profile {
  background-image: $homepage-bg-image;
  height: initial;
}

.content-wrapper .course-info {
  .course-profile .intro-inner-wrapper {
    background: rgba(251,251,251,0.9);
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//-----------------
// List Courses Styling
//-----------------
.home .courses-container,
.find-courses .courses-container {
  max-width: 1300px;
  padding: 0 15px;
}

//-----------------
// Course content Styling
//-----------------
.content-wrapper .course-tabs.navbar,
.wrapper-course-material.courseware .course-material {
  overflow: auto;
}

.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
  overflow: inherit;
}

//-----------------
// Responsive Styling
//-----------------
@media only screen and (max-width: 768px) {

  //sequence nav
  .course-content .xmodule_display.xmodule_SequenceModule .sequence-nav {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;

    ol {
      flex-wrap: wrap;

      li {
        border-left-style: solid;
        border-right-style: solid;
      }
    }

    .sequence-list-wrapper,
    .sequence-nav-button.button-next,
    .sequence-nav-button.button-previous {
      flex: 0 0 100%;
      max-width: 100%;
      min-height: 44px;
      z-index: 2000;
    }

    .sequence-nav-button.button-next,
    .sequence-nav-button.button-previous {
      margin: .75rem 0;
    }
  }

  //about page

  .content-wrapper .course-info header.course-profile .intro-inner-wrapper {
    .table {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
    }

    .intro {
      text-align: center;
      width: 100%;

      .register {
        margin: 0 auto;
      }
    }

    .media {
      width: auto;

      img {
        height: 160px;
        max-width: 264px;
      }
    }
  }

  .content-wrapper .course-info .course-sidebar {
    width: 100%;
  }

  // Dashboard
  .content-wrapper .dashboard .main-container .my-courses .course .details .wrapper-course-image {
    display: block;
    width: 100%;

    .cover {
      max-width: 184px;
    }

    img {
      height: 120px;
    }
  }

  footer.footer .wrapper-footer {
    align-items: center;
    display: flex;
    flex-direction: column;

    .colophon {
      width: auto;
    }
  }
}
