.wrapper-header {

  header.primary {
    @include display(flex);
  }

  .wrapper-l {
    width: flex-grid(8,12);
  }

  .wrapper-r {
    width: flex-grid(3,12);
  }

}

.is-signedin.course {

  .wrapper-header {

    .nav-course {
      width: 60%;
    }
  }
}
